@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.login-body{
  background-color: #404258;
}

.dashboard-body{
  background-color: white;
}

hr{
  border-color: #6B728E ;
}

@layer components {
  .sidebar{
    transition:all .4s ease-in-out;
  }
}

@media (min-width: 428px){
  .contenedor{
    width: 580px;
    height: 780px;
  }
}

@media (min-width:768px ){
.seccion-2{
  margin-left: 20%;
  margin-top: 150px;

}
}

.boton{
background-color: #50577A;
}

.precio{
  color: red;
}

.precio-2{
  color: green;
}
