body{
    background-color: #F7F7F7;
}

hr{
    border-color: #334257 ;
}

@layer components{
    .sidebar{
      transition:all .4s ease-in-out;
    }
  }

  .card-section{

    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));

  }