@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.login-body{
  background-color: #404258;
}

.dashboard-body{
  background-color: white;
}

hr{
  border-color: #6B728E ;
}



@media (max-width: 428px ){
    .titulo-navbar{
      font-size: 20px;
    }

    .pfp{
      width: 36px;
      height: 36px;
    }
    #btn-sidebar{
      width: 40px;
      height: 40px
    }

    .grafico-2{
      width: auto;
    }
}

@media (max-width: 390px ){
    .notificacion{
      width: 32px;
      height: 32px;
    }
}

@media (min-width: 428px){
  .contenedor{
    width: 580px;
    height: 710px;
  }
}

@media (min-width:768px ){
.seccion-2{
  margin-left: 20%;
  margin-top: 150px;

}
}

.boton-contrasenia{
background-color: #50577A;
}

.sidebar {
  overflow-y: scroll;
}

::-webkit-scrollbar { 
  display: none; 
}

/* .rotar {
  transform: scaleX(-1);
} */

  

  
@media (min-width: 428px){
  .cont{
    width: 950px;
    height: 500px;
  }
}

.bg_contra{
 background-image: url(../imagenes/ilustrations/contra_back.png);
background-size:cover;
}

@media (min-width: 428px){
  .contra{
    width: 700px;
    height: 500px;
  }
}

.suario_code {
  transition: 5s ease-out;
}